<!DOCTYPE html>
<html>
    <head>
	<title>Subscriptemember</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <div class="container">
	<div class="row">
	    <h1>Test Subscriptemember</h1>
	</div>
	<div class="row">Number of Subs: {{numberofsubs}}</div>
	<div class="col-md-8">
	    <table class="table striped">
		<tr>
		    <th>Thumbnail</th>
		    <th>Channel ID</th>
		    <th>Channel Name</th>
		    <th>Upload Playlist ID</th>
		    <th>Description</th>
		</tr>
		{{#each subs}}
		<tr>
		    <td><img src="{{thumbnail}}"></td>
		    <td>{{channelid}}</td>
		    <td>{{channelname}}</td>
		    <td>{{upload_playlist}}</td>
		    <td>{{description}}</td>
		</tr>
		{{/each}}
	    </table>
	</div>
    </div>
</html>
